@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(46, 46, 46);
    background-image: url("https://cdn.shopify.com/s/files/1/1090/3588/products/my-darlin-wallpapers-squiggle-party-Desktop_2048x1366_ea0c076c-cec0-4ed0-baeb-5a90b407ce52.jpg?v=1586209663");
    color: whitesmoke;
}

@keyframes text-effect {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: greenyellow;
    }
    100% {
        color: rgb(125, 167, 245);
    }
}

button:hover {
    cursor: pointer;
}

h1 {
    animation: text-effect 3s infinite;
}

.card {
    border-radius: 10px;
    margin-top: 10%;
    padding: 20px;
    height: auto;
    width: fit-content;
    background-color:  rgb(46, 46, 46);
}

#Message {
    font-weight: bolder;
    font-size: 30px;
    animation: text-effect 3s infinite;
}